In [1]:
a="abcdefghijklmabcdefgh"

In [2]:
 a.find("f") # 앞에서 부터 찾음, 찾은 값의 index 출력

5

In [3]:
a.rfind("f") # 뒤에서 부터 찾음

18

In [4]:
 a.find("i"),a.rfind("i") # 만일 찾는 문자가 하나라면 결과는 동일

(8, 8)

In [5]:
a.index("b"),a.rindex("b") # index함수도 결과는 동일

(1, 14)

In [6]:
a.rindex("z") # 하지만 찾는 문자가 없으면 에러발생

ValueError: substring not found

In [7]:
 a.count("f") # 해당 문자의 개수를 출력 ** 문자열 길이반환? lan(문자열)

2

In [8]:
a.rfind("abc") # 문자열을 넣어도 ok

13

In [9]:
 a="abcdfegabcdfeg"

In [10]:
if a.find("f") > 0:
    print ("a가 들어 있음")

a가 들어 있음

In [11]:
if "f" in a : # 만일 "f"가 a안에 있다면? 의 자연적 영어표현 => 포함문자 in 문자열 의 검색형태!
    print ("a가 들어 있음")

a가 들어 있음

In [12]:
a="abcDefGh"

In [13]:
a.upper() # 문자열 모두 대문자 전환

'ABCDEFGH'

In [14]:
a="abcDefGh"

In [15]:
a.lower() # 문자열 모두 소문자 전환

'abcdefgh'

In [24]:
a="   abc    def   hij       "

In [25]:
a.lstrip() # 문자열 왼쪽끝의 모든 공백 제거

'abc    def   hij       '

In [26]:
a="   abc    def   hij       "

In [27]:
a.rstrip() # 문자열 오른쪽 끝의 모든 공백 제거

'   abc    def   hij'

In [28]:
a="   abc    def   hij       "

In [29]:
a.strip() # 문자열 양 끝의 모든 공백 제거

'abc    def   hij'

In [30]:
a="   abc    def   hij       "

In [31]:
a.replace(" ","") # 모든 공백 제거 => str.replace(이전문자열, 바꿀문자열) : 이전문자열을 바꿀 문자열로 변경

'abcdefhij'

In [32]:
rec="홍길동,100,95,88"

item=rec.split(",") # 해당 구분자로 나눠 item이라는 리스트로 반환
print("="*10)
print("이름: ", item[0])
print("국어: ", item[1])
print("영어: ", item[2])
print("수학: ", item[3])
print("="*10)

==========
이름:  홍길동
국어:  100
영어:  95
수학:  88
==========

In [33]:
rec="본 예제는 빈칸으로 구분되어 있는 한 줄의 데이터를 빈칸을     구분하여 나누어 줌"
item=rec.split(" ") # 빈칸이 여러개? 각 빈칸 하나를 데이터 하나로 인식!

print("="*10)
i=0
for s in item:
    print(i,"==>", s)
    i+=1
print("="*10)

==========
0 ==> 본
1 ==> 예제는
2 ==> 빈칸으로
3 ==> 구분되어
4 ==> 있는
5 ==> 한
6 ==> 줄의
7 ==> 데이터를
8 ==> 빈칸을
9 ==>
10 ==>
11 ==>
12 ==>
13 ==> 구분하여
14 ==> 나누어
15 ==> 줌
==========

In [6]:
dili_score=["나연,100,90,100",
    "정연,90,90,100",
    "모모,80,70,90",
    "사나,90,90,80",
    "지효,100,80,80",
    "미나,50,90,90",
    "다현,80,60,100",
    "채영,70,80,90",
    "쯔위,100,90,90"]

score=[]
for one_rec in dili_score:
    one_score=one_rec.split(",")
    one_score[1]=int(one_score[1]) #국어점수 숫자형 변환
    one_score[2]=int(one_score[2]) #영어점수 숫자형 변환
    one_score[3]=int(one_score[3]) #수학점수 숫자형 변환
    score.append(one_score.copy()) # copy에 주의할 것..값 복사
print(score)

[['나연', 100, 90, 100], ['정연', 90, 90, 100], ['모모', 80, 70, 90], ['사나', 90, 90, 80], ['지효', 100, 80, 80], ['미나', 50, 90, 90], ['다현', 80, 60, 100], ['채영', 70, 80, 90], ['쯔위', 100, 90, 90]]

In [5]:
# 코드는 리스트때 썻던것 그대로
def titleprint(): # 카테고리 출력
    print("="*50)
    print("이름\t국어\t영어\t수학\t총점\t평균")
    print("="*50)
    
def itemprint(name,kor,eng,mat): # 각 요소들 출력
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)
    
def tailprint(): # 총합 계산 & 출력
    totkor=0
    toteng=0
    totmat=0
    for one_student in score:
        totkor+=one_student[kor]
        toteng+=one_student[eng]
        totmat+=one_student[mat]
    print("="*50)
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t",(totkor+toteng+totmat)//9,"\t",(totkor+toteng+totmat)/3//9)
    print("="*50)

#데이터 -> 문자열의 리스트로 받기
dili_score=["나연,100,90,100",
        "정연,90,90,100",
        "모모,80,70,90",
        "사나,90,90,80",
        "지효,100,80,80",
        "미나,50,90,90",
        "다현,80,60,100",
        "채영,70,80,90",
        "쯔위,100,90,90"]
#프로그램을 보기 좋게 하려고 상수를 정의
name=0;kor=1;eng=2;mat=3 # => 실제로는 리스트의 각 부분의 인덱스

#여기부터 프로그램
titleprint() # 카테고리
score=[]
for one_rec in dili_score: # 문자열 받아, 구분자로 분리후 출력
    one_score=one_rec.split(",")   
    one_score[1]=int(one_score[1]) # 국어점수 숫자형 변환
    one_score[2]=int(one_score[2]) # 영어점수 숫자형 변환
    one_score[3]=int(one_score[3]) # 수학점수 숫자형 변환
    score.append(one_score.copy())
    itemprint(one_score[name],one_score[kor],one_score[eng],one_score[mat]) 
    
tailprint() # 총합들

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 90 	 90 	 100 	 280 	 93
모모 	 80 	 70 	 90 	 240 	 80
사나 	 90 	 90 	 80 	 260 	 86
지효 	 100 	 80 	 80 	 260 	 86
미나 	 50 	 90 	 90 	 230 	 76
다현 	 80 	 60 	 100 	 240 	 80
채영 	 70 	 80 	 90 	 240 	 80
쯔위 	 100 	 90 	 90 	 280 	 93
==================================================
반총점	 760 	 740 	 820 	 257 	 85.0
==================================================