In [1]:
import sqlite3 as s
con=s.connect("my01.db") # 데이터베이스 연결 - default 현 소스 파일 디렉토리
cursor = con.cursor() # 데이터베이스 사용공간 생성

# cursor.execute("drop table examtable;") # table 삭제
con.commit()

#table 생성
cursor.execute("\
create table examtable( name varchar(20),\
    studentid int not null primary key,\
    kor int,\
    eng int,\
    mat int) \
    ")
               
con.commit() # 버퍼에 처리된 내용을 기록 - commit
cursor.close()
con.close()

In [2]:
import sqlite3 as s
con=s.connect("my01.db") # 데이터베이스 연결
cursor = con.cursor()

#테이블내 레코드 삽입
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"나연\", 20990001, 95, 100, 95);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"정연\", 20990002, 90, 90, 85);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"모모\", 20990003, 95, 95, 75);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"사나\", 20990004, 85, 90, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"지효\", 20990005, 100, 90, 85);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"미나\", 20990006, 90, 80, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"다현\", 20990007, 75, 90, 100);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"채영\", 20990008, 95, 70, 90);")
cursor.execute("insert into examtable (name, studentid, kor, eng, mat) values (\"쯔위\", 20990009, 85, 90, 90);")

con.commit() # 데이터베이스에 기록
cursor.close()
con.close()

In [3]:
import sqlite3 as s
con=s.connect("my01.db")
cursor = con.cursor()

cursor.execute("select * from examtable")

one_rec=cursor.fetchall() # 해당 데이터를 전부 가져옴

for field in one_rec: # 해당 데이터를 반복문을 통해 하나씩 처리
    kor=field[2]
    eng=field[3]
    mat=field[4]
    print("이름:%s 학번:%s 국어:%3d 영어:%3d 수학:%3d 총점:%3d\
    평균:%3d"%(field[0],field[1],kor,eng,mat,kor+eng+mat,int((kor+eng+mat)/3))) # 데이터 출력
      
cursor.close()
con.close()

이름:나연 학번:20990001 국어: 95 영어:100 수학: 95 총점:290    평균: 96
이름:정연 학번:20990002 국어: 90 영어: 90 수학: 85 총점:265    평균: 88
이름:모모 학번:20990003 국어: 95 영어: 95 수학: 75 총점:265    평균: 88
이름:사나 학번:20990004 국어: 85 영어: 90 수학: 90 총점:265    평균: 88
이름:지효 학번:20990005 국어:100 영어: 90 수학: 85 총점:275    평균: 91
이름:미나 학번:20990006 국어: 90 영어: 80 수학: 90 총점:260    평균: 86
이름:다현 학번:20990007 국어: 75 영어: 90 수학:100 총점:265    평균: 88
이름:채영 학번:20990008 국어: 95 영어: 70 수학: 90 총점:255    평균: 85
이름:쯔위 학번:20990009 국어: 85 영어: 90 수학: 90 총점:265    평균: 88